# Archivos de compilación
*.class

# Directorios de compilación
/bin/
/build/

# Archivos de log
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuraciones específicas de IDEs

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/build/
/dist/
/nbbuild/
/nbdist/
/.nb-gradle/

# VSCode
.vscode/

# Archivos ejecutables
*.exe
*.jar

# Librerías externas si no están versionadas correctamente
/lib/
